@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

body{
    font-family: 'Saira Extra Condensed', sans-serif;
    height: 100vh;
    width:100%;
    background-image: url("../img/pattern.png");
    background-repeat: none;
}


.navi{
    border-color:#000;
    background-color:#000;
    font-size: 35px;

}

.navbar-default .navbar-nav > .active > a{
    background-color:#a4189a;
    color:#000;
}

.navbar-default .navbar-nav > .active > a:hover{
    background-color:#99e6ff;
}

.navbar-default .navbar-toggle{
    border-color:#a4189a;
    
}



.box{
    margin-top:50px;
}

.jumbotron{
    margin-top:50px;
    background-color:#000;
    opacity: 0.9;
    color: #a4189a;
}