@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

body{
    font-family: 'Saira Extra Condensed', sans-serif;
    height: 100vh;
    width:100%;
    background-image: url("../img/pattern.png");
    background-repeat: none;
}

.navbar{
    background-color:#000;
}

.navi{
    font-size: 35px;
    /* word-spacing: 100px; */
    /* margin-left: 45px; */
}

.box{
    margin-top:50px;
}

.jumbotron{
    margin-top:50px;
    background-color:#000;
    opacity: 0.9;
    color: purple;
}